<div class='represent-header'>
	<div class='represent-info center'>
		<h1>You Represent</h1>
		<div class='icon-badge-box'>
		    {{#if teamObj.hasLead}}
			{{#if isLead}}
			<img alt='Leader badge' class='icon-badge' src='assets/Leader.svg'/>
            {{/if}}
            {{/if}}
            <img class='represent-icon {{teamObj.abbr}}-bg' alt='Team icon' src='assets/icons_{{teamObj.abbrCap}}white 1.svg'/>
		</div>
		<h2>{{teamObj.lead}}</h2>
		<h3>({{teamObj.title}})</h3>
		{{#if hasLead}}
            {{#if isLead}}
            <p>You have been assigned the role of team leader for this round. This means that only you will be able to submit your team’s move decisions.</p>
            {{else}}
            <p>You are team member for this round. Only your team leader will be able to submit your team’s move decisions.</p>
            {{/if}}
        {{/if}}
	</div>
</div>
