<div class='round round2 voteform' id='vote'>
    {{#each dynamicTeamData}}
    {{#notSameTeam id ../teamObj.id}}
    <div class='vote-tile-container'>
        <div class='vote-tile'>
            <div class='icon-container' style='background-color: {{this.displayColour}};'>
                <img src='assets/icon-{{this.abbr}}-fill.svg' alt='{{this.title}} Icon' class='icon'>
            </div>
            <div class='title-container'>
                <div class='title'>{{title}}</div>
            </div>
            <div class='description'>
                {{values.description}}
            </div>
            <div class='counter resources-buttons' id='resources-buttons-{{this.id}}'>
<!--                <p><span class='value' id='voteValue{{this.id}}'>{{scores.val}}</span></p>-->
                <p><span class='value' id='voteValue{{this.id}}'>{{scores.val}}</span></p>
<!--                <button class='resources-btn vote_btn_minus' disabled><span>-</span></button>-->
<!--                <button class='resources-btn vote_btn_plus' disabled>+</button>-->
            </div>
        </div>
    </div>
    {{/notSameTeam}}
    {{/each}}
</div>
<style>




</style>


