<div class='stakeholder_card' id='stakeholder_card_{{id}}' style='width: 100%;'>
   <div class='textarea'>
        <div class='vertical-center'>
            <div class='header'>
                {{title}}
            </div>
        </div>
        <div class='text action_name'>{{action}}</div>
        <div class='text action_desc'>{{description}}</div>
        <div class='text value'>{{value}}</div>
    </div>

    <div class='background'>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class='card_bg' data-name='card_bg_{{id}}' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 503.54 398.18">
          <defs>
            <style>
                .cls-1-{{id}} {
                  fill: {{displayColour}};
/*                  fill: none;*/
              }

                .cls-1-{{id}}, .cls-2, .cls-3 {
                stroke-width: 0px;
              }

              .cls-4 {
                font-size: 38.14px;
              }

              .cls-4, .cls-5, .cls-6 {
                font-family: ArialMT, Arial;
              }

              .cls-4, .cls-5, .cls-6, .cls-2, .cls-7 {
                fill: #fff;
              }
              .cls-2 {
                fill: #fff;
                stroke: #fff;
/*                fill: #d61111;*/
              }

              .cls-5 {
                font-size: 24.95px;
              }

              .leaf {
                fill: #5b7936;
                stroke-width: 1.42px;
                stroke: #fff;
                stroke-linecap: round;
                stroke-miterlimit: 10;
                stroke-width: 1.7px;
                  display: none;
              }

              .cls-6 {
                font-size: 19.96px;
              }


              .cls-7 {
                font-family: Arial-BoldMT, Arial;
                font-size: 29.94px;
                font-weight: 700;
              }

              .cls-3 {
                fill: #80d2e7;
              }

              .cls-10 {
                letter-spacing: -.07em;
              }
            </style>
          </defs>
          <polygon class="cls-1-{{id}}" points="497.34 118.71 3.08 118.71 3.08 1.93 485.34 .93 503.34 18.84 503.34 57.79 497.34 62.99 497.34 118.71"/>
          <path class="cls-3" d="m503.34,394.99H214.78l-4.66-6.8h-123.31l-4.66,6.8H.19V.19h484.85l18.31,18.26v40.33l-5.65,4.65v305.12l5.65,4.65v21.79Zm-287.81-1.41h286.4v-19.72l-5.65-4.65V62.77l5.65-4.65V19.04l-17.48-17.43H1.61v391.98h79.8l4.66-6.8h124.8l4.66,6.8Z"/>
            {{dynamicPartial icon}}
          <text class="cls-5" transform="translate(157.87 176.03)"><tspan x="0" y="0"></tspan></text>
          <text class="cls-7" transform="translate(208.56 74.99)"><tspan class="cls-10" x="0" y="0"></tspan></text>
          <text class="cls-6" transform="translate(85.82 206.25)"><tspan x="0" y="0"></tspan></text>
          <text class="cls-4" transform="translate(271.03 354.88)"><tspan x="0" y="0"></tspan></text>
          <g>
            <line class="leaf" x1="236.27" y1="358.46" x2="236.27" y2="341.52"/>
            <path class="leaf" d="m211.36,327.68h16.09c4.67,0,8.47,3.8,8.47,8.47v5.93h-16.09c-4.67,0-8.47-3.8-8.47-8.47v-5.93h0Z" transform="translate(447.29 669.76) rotate(180)"/>
            <path class="leaf" d="m245.85,327.68h15.04v4.88c0,5.25-4.27,9.52-9.52,9.52h-15.04v-4.88c0-5.25,4.27-9.52,9.52-9.52Z"/>
          </g>
        </svg>
    </div>

</div>
