<td>round:</td><td>{{this.round}}</td><td>source:</td><td>{{this.src}}</td><td>dest:</td><td>{{this.dest}}</td><td>value</td><td class='right-align'>{{this.val}}</td><td>type:</td><td>{{this.type}}</td>
