Values: {{session.values.length}}
{{#each session.values}}<p>{{action}}, {{description}}</p>{{/each}}
Score packets: {{session.scorePackets.length}}
{{#each session.scorePackets}}<p>{{team}} ({{client}}) allocated {{val}} to </p>{{/each}}
