


   <table><tbody>
    <tr id='header_era'>
        <th colspan='5'>2030</th>
        <th colspan='19'>2040</th>
        <th colspan='1'>FINAL</th>
    </tr>
    <tr id='header_blocks'>
        <th colspan='1' class='blank'></th>
        <th colspan='3'>Public Voices</th>
        <th colspan='2' class='blank'></th>
        <th colspan='6'>Collaboration</th>
        <th colspan='1' class='blank'></th>
        <th colspan='3'>Public Voices</th>
        <th colspan='1' class='blank'></th>
        <th colspan='6'>Share</th>
        <th colspan='2' class='blank'></th>
    </tr>
    <tr id='header_titles'>
        <th>Allocation</th>
        <th>PV1</th>
        <th>PV2</th>
        <th>PVtotal</th>
        <th>a * PV</th>
        <th>Allocation</th>
        <th>EB</th>
        <th>SE</th>
        <th>IC</th>
        <th>CO</th>
        <th>G</th>
        <th>Ctotal</th>
        <th>A+C</th>
        <th>PV1</th>
        <th>PV2</th>
        <th>PVtotal</th>
        <th>(A+C) * PV</th>
        <th>s1</th>
        <th>s2</th>
        <th>s3</th>
        <th>s4</th>
        <th>s5</th>
        <th>stotal</th>
        <th>sc + sh</th>
        <th>2030 + 2040</th>
    </tr>
    {{#each teams}}
    <tr class='inputs' id='input{{this}}'>
        <td class='input'><input class='a1' id='a1_{{this}}'></td>
        <td class='input'><input class='pv_1_1' id='pv1_{{this}}_1'></td>
        <td class='input'><input class='pv_1_2' id='pv2_{{this}}_1'></td>
        <td class='res pvt1' id='pvt{{this}}1'>val</td>
        <td class='res final strong 2030total' id='2030total{{this}}'>val</td>
        <td class='input'><input class='a2' id='a2_{{this}}'></td>
        <td class='input'><input class='ci' id='ci1_{{this}}'></td>
        <td class='input'><input class='ci' id='ci2_{{this}}'></td>
        <td class='input'><input class='ci' id='ci3_{{this}}'></td>
        <td class='input'><input class='ci' id='ci4_{{this}}'></td>
        <td class='input'><input class='ci' id='ci5_{{this}}'></td>
        <td class='res ctotal' id='ctotal{{this}}'>val</td>
        <td class='res final allCollTotal' id='allcolltotal{{this}}'>val</td>
        <td class='input'><input class='pv_2_1' id='pv1_{{this}}_2'></td>
        <td class='input'><input class='pv_2_2' id='pv2_{{this}}_2'></td>
        <td class='res pvt2' id='pvt{{this}}2'>val</td>
        <td class='res final allCollPV' id='acpv{{this}}'>val</td>
        <td class='res sub sval sval_0' id='s_{{this}}_0'>vs1</td>
        <td class='res sub sval sval_1' id='s_{{this}}_1'>vs1</td>
        <td class='res sub sval sval_2' id='s_{{this}}_2'>vs2</td>
        <td class='res sub sval sval_3' id='s_{{this}}_3'>vs3</td>
        <td class='res sub sval sval_4' id='s_{{this}}_4'>vs4</td>
        <td class='res shTotal' id='svaltotal_{{this}}'>val</td>
        <td class='res final strong scoreShare' id='scsh_{{this}}'>val</td>
        <td class='res final strong 2040total' id='20302040_{{this}}'>val</td>
    </tr>
    {{/each}}
</tbody></table>
