<!--
<table><tbody>
    {{#each this}}
    <tr><td><span class='slide_link{{#if isCurrent}} current{{else}}{{/if}}' id='slide_link_{{this.ref}}'>{{{this.title}}}</span></td><td><button class='material-icons'>replay</button></td></tr>
    <tr><td class=''><div class='overlay'>{{this.title}}</div><div class='slide_progress_bar'></div></td></tr>
    {{/each}}
</tbody></table>
-->


<div class='vertstack'>
    {{#each this}}
    <div class='slide_info' id='slide_info_{{this.ref}}'>
        <div class='progress'></div>
        <div class='controls'>
            <span class='link slide_link{{#if isCurrent}} current{{else}}{{/if}}' id='slide_link_{{this.ref}}'>{{{this.title}}}</span><span class='material-symbols-outlined replay' id='sb_reload'>repeat</span>
        </div>
    </div>
    {{/each}}
</div>
