<!-- forceOverwrite -->
<div class='vertstack' id='contentControls'>
<!--    <div><button id='gameStart'>Start Game</button></div>-->
<!--    <div><button id='gameReset' {{#if teamsAssigned}}{{else}}disabled{{/if}}>Reset Game</button></div>-->
    <div><button id='fakeGen'>Launch Fake Generator</button> (dev only, launches new tab)</div>
    <div><button id='showqr' title=`show QR`>Show/hide QR code</button></div>
    <div><button id='launchqr' title=`launch QR popup`>Launch QR popup</button></div>
    {{#if teamsAssigned}}{{else}}
    {{#if roundActive}}{{else}}
    <div>
        <button id='resize'>Set Team Size</button><input type="text" class="valInput" id="teamInput" value="{{game.mainTeamSize}}" readonly>
        <span class='buttonSet'>
            <button >-</button><button >+</button>
        </span>
    </div>
    {{/if}}
    {{/if}}
    {{#if teamsAssigned}}
    {{#if scoresSubmitted}}{{else}}
    <div><button id='reset'>Reset Teams</button></div>
    {{/if}}
    {{/if}}
    {{#if roundActive}}
    <div><button id='completeRound'>Complete Round</button> (opens new panel)</div>
    {{/if}}
    <div><button id='identify' >Identify Players</button> (shows info on players' devices)</div>
    <div>
        <button id='refreshAll' >Refresh Players</button>
        <button id='allHome' >Players Home</button>
        <button id='removeAll' >Remove + Close Players</button>
    </div>
    <div><button id='sessionReset'>Reset Session</button></div>
<!--    {{#if isDev}}<div><button id='clearConsole'>Clear browser console</button></div>{{/if}}-->
<!--    {{#if isDev}}<div><button id='presInfo'>Toggle presentation info</button></div>{{/if}}-->
    <div><button id='downloadRes'{{#if disableDownload}} disabled{{/if}}>Download Results</button>{{#if disableDownload}} (Only available on completion){{/if}}</div>
    <div><button id='gameEnding'>End Game</button></div>
    <div><button id='signOut'>Sign out</button></div>
</div>
