scores:
<div id='scoresummaries'>
    <div class='tab'>
        <button class='tablinksScore' id='linkRaw'>Raw</button>
        <button class='tablinksScore' id='linkR1'>Round 1{{#if gameInfo.round1}}<span>*</span>{{/if}}</button>
        <button class='tablinksScore' id='linkR2'>Round 2{{#if gameInfo.round2}}<span>*</span>{{/if}}</button>
        <button class='tablinksScore' id='linkTotals1'>Totals 2030</button>
        <button class='tablinksScore' id='linkR3'>Round 3{{#if gameInfo.round3}}<span>*</span>{{/if}}</button>
    </div>
    <div id='tabRaw' class='tabcontentScore'>
        <h4>Raw</h4>
        {{#each scores}}
        <div>{{this}}</div>
        {{/each}}
        <br><br>
        <div class='downloader'><button class='downloadBtn' id='downloadBtnscores'>Download as CSV</button></div>
    </div>
    <div id='tabR1' class='tabcontentScore'>
        <h4>Round 1{{#if gameInfo.round1}} <span class='dynamic'>(current{{#if gameInfo.roundComplete}} - completed{{/if}})</span>{{/if}}</h4>
        <table><tbody>
        {{#each scoresR1}}
        <tr>{{> score-packet-detail-r1-td}}</tr>
        {{/each}}
        </tbody></table>
        <br><br>
        <div class='downloader'><button class='downloadBtn' id='downloadBtnscoresR1'>Download as CSV</button></div>
    </div>
    <div id='tabR2' class='tabcontentScore'>
        <h4>Round 2{{#if gameInfo.round2}} <span class='dynamic'>(current{{#if gameInfo.roundComplete}} - completed{{/if}})</span>{{/if}}</h4>
        Aggregates:
        <table><tbody>
        {{#each aggregates}}
        <tr>{{> aggregate-score-td}}</tr>
        {{/each}}
        </tbody></table>
        <div class='downloader'><button class='downloadBtn' id='downloadBtnaggregates'>Download as CSV</button></div>
        Expenditure by team:
        <table><tbody>
        {{#each expenditure}}
        <tr>{{> aggregate-score-td}}</tr>
        {{/each}}
        </tbody></table>
        <div class='downloader'><button class='downloadBtn' id='downloadBtnaggregates'>Download as CSV</button></div>
        Expenditure by player:
        <table><tbody>
        {{#each perPlayer}}
        <tr>{{> player-score-td}}</tr>
        {{/each}}
        </tbody></table>
        <div class='downloader'><button class='downloadBtn' id='downloadBtnaggregates'>Download as CSV</button></div>
        All:
        <table><tbody>
        {{#each scoresR2}}
        <tr>{{> score-packet-detail-r2-td}}</tr>
        {{/each}}
        </tbody></table>
        <div class='downloader'><button class='downloadBtn' id='downloadBtnscoresR2'>Download as CSV</button></div>
    </div>
    <div id='tabTotals1' class='tabcontentScore'>
        <h4>2030 Totals</h4>
        <table class='nostripe totals'><tbody>
            <tr><th>team</th><th>self</th><th>PV 1</th><th>PV 1 av.</th><th>PV 2</th><th>PV 2 av.</th><th>PV total</th><th>total</th></tr>
            {{#each totals2030Simple}}
            <tr><td>{{this.team}}</td><td class='emphasis'>{{self}}</td><td>{{set5}}</td><td>{{pv1}}</td><td>{{set6}}</td><td>{{pv2}}</td><td class='emphasis'>{{pvTotal}}</td><td class='grand'>{{grandTotal}}</td></tr>
            {{/each}}
        </tbody></table>
        <div class='downloader'><button class='downloadBtn' id='downloadBtntotals2030Simple'>Download as CSV</button></div>
    </div>
    <div id='tabR3' class='tabcontentScore'>
        <h4>Round 3{{#if gameInfo.round3}} <span class='dynamic'>(current{{#if gameInfo.roundComplete}} - completed{{/if}})</span>{{/if}}</h4>
        All:
        <table><tbody>
        {{#each teamAlloc}}
        <tr>{{> score-packet-detail-r3}}</tr>
        {{/each}}
        </tbody></table>
        <div class='downloader'><button class='downloadBtn' id='downloadBtnscoresR2'>Download as CSV</button></div>
    </div>
</div>
