<div id='scoresummaries'>
    <table class='nostripe totals'><tbody>
        <tr>
        <th>team</th>
        <th>self</th>
<!--        <th>PV 1</th>-->
        <th>PV1</th>
<!--        <th>PV 2</th>-->
        <th>PV2</th>
        <th>PV t</th>
        <th>total</th>
        </tr>
        {{#each totalsObject}}
        <tr>
        <td>{{team}}</td>
        <td class='emphasis'>{{r1Total}}</td>
<!--        <td>{{r2s5All}}</td>-->
        <td class='alignright'>{{r2s5Av}} (<a title='{{r2s5All}}'>{{r2s5Summary.scores.length}}</a>)</td>
<!--        <td>{{r2s6All}}</td>-->
        <td class='alignright'>{{r2s6Av}} (<a title='{{r2s6All}}'>{{r2s6Summary.scores.length}}</a>)</td>
        <td class='emphasis aligndecimal'>{{r2Total}}</td>
        <td class='grand aligndecimal'>{{grandTotal}}</td></tr>
        {{/each}}
    </tbody></table>
</div>
