<div class='playerlist liveupdate'>
<table><tbody>
<tr>
<th class='link listSort'>no.</th>
<th class='link listSort'>ID</th>
<th class='link listSort'>online</th>
<th class='link listSort'>team</th>
<th class='link listSort'>lead</th>
<th></th>
</tr>
{{#each this}}

<tr>
<td>{{this.index}}</td>
<td{{#if this.isFake}} class='fake'{{/if}}>{{this.id}}</td>
    <td class='boo {{this.connected}}'><div class='circle'></div></td>
<td {{#if this.warning}}class='link warning'{{/if}}>{{this.teamObj.titleClip}}</td>
<td class='boo {{this.isLead}}'>{{this.isLead}}</td>


<td>{{#if this.teamObj.hasLead}}
    <button class='material-icons makeLead rollover' id='makeLead_{{this.teamObj.id}}_{{this.id}}'{{#if this.isLead}} disabled{{/if}} {{#if this.connected}}{{else}} disabled{{/if}} title="make this player the team lead">stars</button>
    {{/if}}</td>
    <td><button class='material-icons reassign rollover' id='reassign_{{this.teamObj.id}}_{{this.id}}'{{#if this.isLead}} disabled{{/if}} title='swap team'>swap_horiz</button></td>
<!--    <td><button class='refresh rollover' id='refreah_{{this.teamObj.id}}_{{this.id}}'>Refresh</button></td>-->
    <td><button class="material-icons refresh" id='refreah_{{this.teamObj.id}}_{{this.id}}' style='font-size: 16px;' title='refresh this player's screen>replay</button></td>
    <td><button class='material-icons remove rollover' id='remove_{{this.teamObj.id}}_{{this.id}}' title='remove this player'>close</button></td>


</tr>
{{/each}}
</tbody></table>
</div>
