<div class='playerlist'>
<table><tbody>
<tr>
<th class='link listSort'>index</th>
<th class='link listSort'>ID</th>
<th class='link listSort'>connected</th>
<th class='link listSort'>team</th>
<th class='link listSort'>isLead</th>
<th></th>
</tr>
{{#each this}}

<tr>
<td>{{this.index}}</td>
<td{{#if this.isFake}} class='fake'{{/if}}>{{this.id}}</td>
    <td class='boo {{this.connected}}'><div class='circle'></div></td>
<td {{#if this.warning}}class='link warning'{{/if}}>{{this.teamObj.title}}</td>
<td class='boo {{this.isLead}}'>{{this.isLead}}</td>
<td>
{{#if this.teamObj.hasLead}}
<button class='makeLead' id='makeLead_{{this.teamObj.id}}_{{this.id}}'{{#if this.isLead}} disabled{{/if}} {{#if this.connected}}{{else}} disabled{{/if}}>make lead</button>
<button class='refresh' id='refreah_{{this.teamObj.id}}_{{this.id}}'}>Refresh</button>
{{/if}}</td>
</tr>
{{/each}}
</tbody></table>
</div>
