Session detail:
<table><tbody>
    {{#each this}}
    <tr><td>{{@key}}</td><td id='val_{{@key}}'>{{this}}</td></tr>
    {{/each}}
</tbody></table>
<br>
<div class='vertstack'>
    <div class='link' id='gameStart'>start or join this game</div>
    <div>
        <a id='gameLaunch' href='{{this.base}}{{this.address}}?isAdmin=true' target='_blank'>go to game player screen (testing only, will not join session)</a>
    </div>
</div>
