Debug template: showround1
<table><tbody>
{{#each this}}
<tr style='background-color: {{teamObj.displayColour}}'><td>{{team}}</td><td>{{title}}</td><td>{{action}}</td><td>{{description}}</td><td>{{value}}</td></tr>

{{/each}}
</tbody></table>
